<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WEB16</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>co</servlet-name>
    <servlet-class>com.xiaohai16.checkimg.CheckImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>co</servlet-name>
    <url-pattern>/CheckImgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cookieservlet</display-name>
    <servlet-name>cookieservlet</servlet-name>
    <servlet-class>com.xiaohai16.cookie.cookieservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookieservlet</servlet-name>
    <url-pattern>/cookieservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getCookie</display-name>
    <servlet-name>getCookie</servlet-name>
    <servlet-class>com.xiaohai16.cookie.getCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getCookie</servlet-name>
    <url-pattern>/getCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lastTime</display-name>
    <servlet-name>lastTime</servlet-name>
    <servlet-class>com.xiaohai16.demoCookie.lastTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lastTime</servlet-name>
    <url-pattern>/lastTime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sessionServlet</display-name>
    <servlet-name>sessionServlet</servlet-name>
    <servlet-class>com.xiaohai16.session.sessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessionServlet</servlet-name>
    <url-pattern>/sessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sessionServlet2</display-name>
    <servlet-name>sessionServlet2</servlet-name>
    <servlet-class>com.xiaohai16.session.sessionServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessionServlet2</servlet-name>
    <url-pattern>/sessionServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checklogin</display-name>
    <servlet-name>checklogin</servlet-name>
    <servlet-class>com.xiaohai16.checkimg.checklogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checklogin</servlet-name>
    <url-pattern>/checklogin</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>loginservlet</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>com.xiaohai16.login.loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  
</web-app>