<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app SYSTEM "web-app_2_3.dtd">
<!-- xml的格式 -->
<!--注意xml文档的第一行,开头必须是:<?xml version="1.0" encoding="UTF-8"?> 可以省略encoding="UTF-8"-->
	<!-- 下面3点是xml文档的必须固定约束格式,不用刻意记,写时都有代码提示,鼠标移上去也会提示约束内的两个子标签 -->
	<!--1:<web-app></web-app> 2:<servlet></servlet> 3:<servlet-mapping></servlet-mapping>   -->	
<web-app>
    <servlet>
        <servlet-name></servlet-name>					
       <servlet-class></servlet-class>
    </servlet>
    <servlet-mapping>
         <servlet-name></servlet-name>
         <url-pattern></url-pattern>				
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file></welcome-file>
    </welcome-file-list>
</web-app>