<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.OrderMapper">
	<!--演示解决数据库中表是列字段和pojo封装实例字段不一样时,怎么用手动映射 -->
	<resultMap type="com.itheima.mybatis.pojo.orders" id="xxx">
		<result column="user_id" property="userId"/>
	</resultMap>
	
	<select id="selectOrder" resultMap="xxx">
		SELECT id, user_id, number, createtime, note FROM orders 
	</select>
	
	<!-- 
	//演示多表查询所有订单和对应的用户名 ,一对一查询,以订单为中心,一个订单对一个用户  返回值是订单,在订单类中封装用户对象
	public List<orders> selectOrdersList();
	 -->
	<!-- <resultMap type="com.itheima.mybatis.pojo.orders" id="a">
	    <result column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="number" property="number"/>
		<result column="createtime" property="createtime"/>
		<result column="username" property="username"/>
		
		一对一   <association>次标签失效
	 	<association property="com.itheima.mybatis.pojo.User" javaType="com.itheima.mybatis.pojo.User">
	 	    <id column="user_id" property="id"/>
		    <result column="username" property="username"/>
	 	</association> 

	</resultMap> -->
	<select id="selectOrdersList" resultType="com.itheima.mybatis.pojo.orders">
	    SELECT 
	 	o.id,
	    o.number,
	 	o.createtime,
	 	u.username 
	 	FROM orders o 
	 	left join user u 
	 	on o.user_id = u.id
	</select>
	
	<!-- 
	演示一对多,一个用户多个表单
	public List<User> selectOrderListByUser();
	 --> 	
	<select id="selectOrderListByUser" resultType="com.itheima.mybatis.pojo.User">
	     SELECT 
	 	o.id,
	    o.number,
	 	o.createtime,
	 	u.username 
	 	FROM `user` u
	 	left join orders o  
	 	on o.user_id = u.id
	</select>
	
</mapper>
	  

